*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,video{
    width: 512px;

}

body{
    max-width: 512px;
    background-color: rgb(4, 4, 106);
}

h2 {
    color: white;
    font-size: 30px;
    margin: 1rem;
    font-family: "Sigmar", sans-serif;
    text-align: center;
    line-height: 30px;
    padding: 1rem;
    text-transform: uppercase;
}

p{
    color: white;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    padding: 1rem 3rem;
    padding-top: none;
}

button{
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-left: 4rem;
    margin-left: 4rem;
    width: 24rem;
}

a{
    background-color: rgba(68, 68, 232, 0.839);
    color: white;
    padding: 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 20px;
    text-decoration: none;
    display: block;
}

